[Unit]
Description=Via rail web service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/fydp/Basestation-SW/startup.sh

[Install]
WantedBy=multi-user.target
